.link-color-inherit {
  color: inherit;
}

.nav-link-decoration-none {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}

.nav-pills {
  .nav-link.active {
    cursor: default;
  } 
}
