$utilities: map-merge(
  (
    // Width
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        25px: 25px,
        50px: 50px,
        75px: 75px,
        100px: 100px,
        125px: 125px,
        150px: 150px,
        175px: 175px,
        200px: 200px,
        225px: 225px,
        250px: 250px,
        275px: 275px,
        300px: 300px,
        350px: 350px,
        400px: 400px,
        450px: 450px,
        500px: 500px,
        600px: 600px,
        700px: 700px,
        800px: 800px,
        900px: 900px,
        1000px: 1000px,
      )
    ),

  ),
  $utilities
);
